

.header{
    text-align: center;
    font-size: large;
    padding-top: 5%;
}


.container{
    

    font-size: larger;

    border: solid black;
    background-color: gray;

    margin: 0 1%;
    
    float: left;
    width: 30%;
}

.container h2{
    text-align: center;
    margin: 0;
    margin-left: 60%;
    background-color: red;
    border: solid black;
}

.text-container{
    padding: 5%;
    text-align: start;
}


